In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('aa.us.csv')

In [10]:
df

             Date     Open     High      Low    Close   Volume  OpenInt
0      1970-01-02   2.2972   2.3178   2.2972   2.2972    26437        0
1      1970-01-05   2.2972   2.2972   2.2544   2.2759    29887        0
2      1970-01-06   2.2759   2.2759   2.2342   2.2342   106900        0
3      1970-01-07   2.2342   2.2342   2.2342   2.2342    85061        0
4      1970-01-08   2.2342   2.2342   2.2139   2.2139    66669        0
5      1970-01-09   2.2139   2.2139   2.1921   2.1921    72418        0
6      1970-01-12   2.1921   2.1921   2.1717   2.1717    94257        0
7      1970-01-13   2.1717   2.1921   2.1717   2.1921    67818        0
8      1970-01-14   2.1921   2.1921   2.1717   2.1717    66669        0
9      1970-01-15   2.1717   2.1921   2.1717   2.1921    91958        0
10     1970-01-16   2.1921   2.1921   2.1717   2.1921   105750        0
11     1970-01-19   2.1921   2.1921   2.1717   2.1717   109200        0
12     1970-01-20   2.1717   2.1921   2.1717   2.1921    22991        0
13     1970-01-21   2.1921   2.2342   2.1921   2.2342    37931        0
14     1970-01-22   2.2342   2.2972   2.2342   2.2544   212652        0
15     1970-01-23   2.2544   2.2544   2.2139   2.2139    40231        0
16     1970-01-26   2.1921   2.1921   2.1508   2.1717   100004        0
17     1970-01-27   2.1717   2.1921   2.1292   2.1292    43679        0
18     1970-01-28   2.1292   2.1508   2.1292   2.1292   132189        0
19     1970-01-29   2.1292   2.1292   2.0883   2.0883   164373        0
20     1970-01-30   2.0883   2.1088   2.0883   2.0883    47128        0
21     1970-02-02   2.1088   2.1292   2.1088   2.1088    50576        0
22     1970-02-03   2.1088   2.1508   2.1088   2.1508   113796        0
23     1970-02-04   2.1508   2.1508   2.1088   2.1292   274724        0
24     1970-02-05   2.1292   2.1292   2.1088   2.1088    49428        0
25     1970-02-06   2.1088   2.1088   2.1088   2.1088    49428        0
26     1970-02-09   2.1292   2.1508   2.1292   2.1508    36783        0
27     1970-02-10   2.1508   2.1508   2.1292   2.1292    22991        0
28     1970-02-11   2.1292   2.2139   2.1292   2.2139    47128        0
29     1970-02-12   2.2139   2.2139   2.1921   2.1921   143683        0
...           ...      ...      ...      ...      ...      ...      ...
12044  2017-10-02  46.4300  48.0300  46.4100  47.6500  4042323        0
12045  2017-10-03  47.9700  48.3300  47.4400  48.3100  3309404        0
12046  2017-10-04  48.2700  49.3000  47.7500  47.9100  4124246        0
12047  2017-10-05  48.0800  48.7293  47.6500  48.2500  3191580        0
12048  2017-10-06  47.8900  47.8900  47.3000  47.4900  3963449        0
12049  2017-10-09  47.6300  47.7200  46.5800  47.0700  2235684        0
12050  2017-10-10  47.2800  47.4500  46.5800  46.8900  3578577        0
12051  2017-10-11  46.7200  47.0000  46.2100  46.9400  2727964        0
12052  2017-10-12  46.9500  47.7700  46.8000  47.5300  3027481        0
12053  2017-10-13  48.3200  48.6299  47.6000  47.7100  3275869        0
12054  2017-10-16  48.0000  48.9300  47.4800  48.2400  4680114        0
12055  2017-10-17  48.6500  48.7200  47.4200  47.7700  3957474        0
12056  2017-10-18  47.3800  47.8400  46.5100  47.7500  4684668        0
12057  2017-10-19  46.5000  47.7400  46.0100  46.5400  6033117        0
12058  2017-10-20  47.1200  48.1300  47.0600  47.9300  4208611        0
12059  2017-10-23  48.0400  48.5600  47.8300  47.9300  4020035        0
12060  2017-10-24  48.1300  50.3100  48.0600  50.0800  6702271        0
12061  2017-10-25  49.7300  49.8799  48.5100  49.5200  3247954        0
12062  2017-10-26  49.5200  49.7300  48.5200  49.1500  3468320        0
12063  2017-10-27  47.7100  48.2500  47.0100  47.9100  3870215        0
12064  2017-10-30  47.8000  48.3800  47.3700  47.4200  2072094        0
12065  2017-10-31  47.1900  48.0700  46.3800  47.7800  2721478        0
12066  2017-11-01  48.9100  49.2700  47.4500  47.7000  3174957        0
12067  2017-11-02  47.6800  47.7671  47.0700  47.4600  2059018        0
12068  2017-11-03  47.2500  47.4300  46.7100  47.1200  1838986        0
12069  2017-11-06  47.2000  47.6800  46.5300  47.2900  1725638        0
12070  2017-11-07  47.1100  47.2042  46.5400  46.9700  2168351        0
12071  2017-11-08  46.7300  46.7700  45.3700  45.8900  3347930        0
12072  2017-11-09  44.7100  44.7100  43.1100  43.3300  7671810        0
12073  2017-11-10  42.9300  44.4600  42.7500  43.0100  4463839        0

[12074 rows x 7 columns]

In [19]:
x = df.iloc[:, 1:4].values
y = df.iloc[:, 4:5].values
print(x)
print(y)

[[ 2.2972  2.3178  2.2972]
 [ 2.2972  2.2972  2.2544]
 [ 2.2759  2.2759  2.2342]
 ...
 [46.73   46.77   45.37  ]
 [44.71   44.71   43.11  ]
 [42.93   44.46   42.75  ]]
[[ 2.2972]
 [ 2.2759]
 [ 2.2342]
 ...
 [45.89  ]
 [43.33  ]
 [43.01  ]]

In [20]:
#Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

from sklearn.linear_model import LinearRegression
linearRegressor = LinearRegression()
linearRegressor.fit(x_train, y_train)

print(x_train)
print(x_test)

[[27.204  27.269  26.62  ]
 [33.806  34.386  33.299 ]
 [ 1.4833  1.5242  1.4833]
 ...
 [22.99   24.115  22.503 ]
 [19.338  19.678  19.254 ]
 [ 4.8023  4.8234  4.7606]]
[[ 5.2402  5.2402  5.1153]
 [ 2.986   3.0899  2.9642]
 [13.425  13.447  13.383 ]
 ...
 [ 5.2827  5.2827  5.1778]
 [22.864  23.551  22.672 ]
 [ 2.6098  2.6309  2.5889]]

In [32]:
y_pred = linearRegressor.predict([[48.3200,49.6299,47.6000]])
y_pred

array([[48.83471309]])